@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Hind+Siliguri:wght@700&family=Montserrat&family=Oswald:wght@700&display=swap');


body {
  margin: 0;
  background-color: #e6e6e6;
}



.resultWord{
  background-color: yellow;
}

.textHighlight {
  background-color: blue;
  transition: background-color 0.3s ease;
}

.Alegreya {
  font-family: 'Alegreya', serif;
}

.Hind {
  font-family: 'Hind Siliguri', sans-serif;
}

.Montserrat {
  font-family: 'Montserrat', sans-serif;
}

.Oswald {
  font-family: 'Oswald', sans-serif;
}

.scrollstep::-webkit-scrollbar {
  display: none;
}

.imgInput::-webkit-file-upload-button {
  visibility: hidden;
}
.imgInput::before {
  content: 'Upload Image';
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #333533;
  color: #f9f9f9;
  border-radius: 3px;
  padding: 5px 8px;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}
.imgInput:hover::before {
  background-color: #bbbbbb;
  color: black;
}

.docInput::-webkit-file-upload-button {
  visibility: hidden;
}
.docInput::before {
  content: 'Upload .docx File';
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #333533;
  color: #f9f9f9;
  border-radius: 3px;
  padding: 5px 8px;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}
.docInput:hover::before {
  background-color: #bbbbbb;
  color: black;
}
