@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Hind+Siliguri:wght@700&family=Montserrat&family=Oswald:wght@700&display=swap');


body {
  margin: 0;
  background-color: #e6e6e6;
}

.CPgrey {
  background-color: #d6d6d6
}

.CPyellow {
  background-color: #ffee32
}

.CPorange {
  background-color: #ffd100
}

.CPblack {
  background-color: #202020
}

.CPdarkGrey {
  background-color: #333533
}

.CPTextGrey {
  color: #d6d6d6
}

.CPTextYellow {
  color: #ffee32
}

.CPTextOrange {
  color: #ffd100
}

.CPTextBlack {
  color: #202020
}

.CPTextDarkGrey {
  color: #333533
}

.resultWord{
  background-color: yellow;
}

.textHighlight {
  background-color: blue;
  transition: background-color 0.3s ease;
}

.Alegreya {
  font-family: 'Alegreya', serif;
}

.Hind {
  font-family: 'Hind Siliguri', sans-serif;
}

.Montserrat {
  font-family: 'Montserrat', sans-serif;
}

.Oswald {
  font-family: 'Oswald', sans-serif;
}
/* div {
  outline: auto;
} */